  .help-content {
    background-color: white;
  }

  .help-text-div {
    margin: 0px 25px 0px 25px;
  }

  .help-title {
    font-size: 30px;
    margin: 5px 0px 10px 0px
  }

  .help-sub-text {
    font-size: 25px;
  }
  
  footer {
    background: #a2a2e6;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    content: "\A";
  }
  
  @media only screen and (max-width: 768px) {
    
  }
  