.privacy-content {
  background-color: white;
}

.privacy-text-div {
  margin: 0px 25px 0px 25px;
}

.privacy-title {
  font-size: 30px;
  margin: 5px 0px 10px 0px
}

.privacy-sub-text {
  font-size: 25px;
}


@media only screen and (max-width: 768px) {
  
}
