/*
 * TemplateList CSS
 */
li, ul {
    text-decoration: none;
    list-style-type: none;
}

.extra-btn {
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
  align-items: center;
}

.app {
  text-align: center;
  background-color: #2a2a2ab5;
  height: 100vh;
}

.DraftEditor-root {
  margin-left: 4px;
  margin-right: 4px;
}



