<!DOCTYPE html>
<html>
    <body style="background-color: papayawhip;">
        <div class = "container" style="background-image:url("src\images\baby.jpg"); background-repeat: no-repeat;" height:500; width:00>
            <div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>Hello child</p>
            </div>
        </div>
    </body>
</html>