<!DOCTYPE html>
<html>
    <body style="background-color: green; padding: 80px;">
        <div style="background-color: white; margin:auto; padding: 10px; border-radius: 80px;">
            <div>
                <p style="text-align: center; font-size: 45px;">You're Invited</p>
            </div>
            <div>
                <img style=" margin-left: auto; margin-right: auto; height: 312px; width: 312px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbzDWZJlgVACoJ2x3DirzWJzOW9njxsn65RA&usqp=CAU" alt="Merry Christmas">
            </div>
            <div>
                <p style="text-align: center; font-size: 30px;">Since this time only comes once a year, let's have some fun while it lasts!</p>
                <p style="text-align: center; font-size: 30px;">Join us:</p>
                <p style="text-align: center; font-size: 20px;">Saturday, December 18 from 6-9 pm</p>
                <p style="text-align: center; font-size: 20px;">Address: 123 Candy Lane</p>
                <p style="text-align: center; font-size: 20px;">Please RSVP - 888-888-8888</p>
            </div>
            <div>
                <p style="text-align: center; font-size: 20px;">Hope to see you there!</p>
            </div>
        </div>
    </body>
</html>