<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap">
<!--style="background: #df3f3d;-->
    <body style="background-image: url(../components/Images/snow.jpg); padding: 80px;">
        <div style="background-color: #D5CDCA; margin:auto; padding: 10px; border-radius: 80px;">
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto; height: 312px; width: 312px;" src="../components/Images/christmas.png" alt="Merry Christmas">
            </div>
            <div>
                <p style="text-align: center; font-size: 45px; font-family: 'Akaya Telivigala', cursive;">You're Invited</p>
            </div>
            <div>
                <p style="text-align: center; font-size: 20px; font-family: 'Akaya Telivigala', cursive;">Since this time only comes once a year, let's have some fun while it lasts!</p>
                <p style="text-align: center; font-size: 20px; font-family: 'Akaya Telivigala', cursive;">Join us:</p>
                <p style="text-align: center; font-size: 20px; font-family: 'Akaya Telivigala', cursive;">Saturday, December 18 from 6-9 pm</p>
                <p style="text-align: center; font-size: 20px; font-family: 'Akaya Telivigala', cursive;">Address: 123 Candy Lane</p>
                <p style="text-align: center; font-size: 20px; font-family: 'Akaya Telivigala', cursive;">Please RSVP - 888-888-8888</p>
            </div>
            <div>
                <p style="text-align: center; font-size: 20px; font-family: 'Akaya Telivigala', cursive;">Hope to see you there!</p>
            </div>
        </div>
    </body>
</html>