<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <style>
        body{              
			 background-image : url("https://st2.depositphotos.com/4021867/5810/v/950/depositphotos_58105035-stock-illustration-blue-flowers-9.jpg");
        }      
    </style>
    <div style = "background-color: white; 
	  text-align: center;
                margin: 60px;
                padding: 100px;
                padding: 100px;
                border-style: solid; 
                border-color:lightgrey; 
                display:block" >
         <img src= "http://clipart-library.com/images/rTjKAAqec.gif"> 	 
         <h1 style="text-align: center; font-size: 120; padding: auto; "> Get Well</h1>
         <h3 style="text-align: center; font-size: 40; padding: auto;"> Insert Text (Optional)</h1>
         <h3 style="text-align: center; font-size: 120; ">Wishing you a Speedy Recovery </p>

    </div>
    </body>
</html>