<!DOCTYPE html>

<html>
    <style>
        body{              
			 background-color: lightblue;
        }      
    </style>
    <div style = "background-color: white; 
	  text-align: center;
                margin: 60px;
                padding: 100px;
                padding: 100px;
                border-style: solid; 
                border-color:lightgrey; 
                display:block" >
         <img src= "http://clipart-library.com/images/rTjKAAqec.gif"> 	 
         <h1 style="text-align: center; font-size: 75; padding: auto; "> Get Well Soon!</h1>
         <h3 style="text-align: center; font-size: 40; padding: auto;"> Insert Text (Optional)</h1>
         <h3 style="text-align: center; font-size: 50; ">Wishing you a Speedy Recovery </p>
        <h3 style="text-align: center; font-size: 50; ">Love, Name</p>
    </div>
    </body>
</html>