<!DOCTYPE html>

<html>
        <style>
        body{
             background-image: url(https://i.pinimg.com/originals/51/05/6f/51056f328f08167bd0b6da9b1387bdc2.jpg); 
             background-repeat: no-repeat;
             background-size: cover;
             font-family: "Sofia";
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
    </style>

    <div style = "background-color: beige; 
                margin: 60px;
                padding: 100px;
                border-style: solid; 
                border-color:lightgrey; 
                display:block" >

         <img src= "https://images.vexels.com/media/users/3/132017/isolated/preview/c2f0970c616fc55f41f1ca16a7014957-save-the-date-badge-by-vexels.png">
         <img src="https://i.pinimg.com/originals/dc/c6/c6/dcc6c6d10568a61ca3a9d0ad6b7ffaf6.jpg">
         <h1 style="text-align: center; font-size: 30; padding: auto;"> John Adam Doe </h1>
         <h1 style="text-align: center; font-size: 30; padding: auto;"> and </h1>
         <h1 style="text-align: center; font-size: 30; padding: auto;"> Sarah Elizabeth Brown </h1>


         <p style="text-align: center; font-size: 30;">July 11th, 2021</p>
         <br>
         <p style="text-align: center; font-size: 30; font-family: Garamond, serif">Invitation to follow. Check out our website at www.theknot.com/doeandbrown</p>

    </div>
    </body>
</html>