<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <style>
        body{              
			 background-image : url("https://static8.depositphotos.com/1457895/952/v/950/depositphotos_9529877-stock-illustration-books-background.jpg");
        }      
    </style>
    <div style = "background-color: white; 
				text-align: center;
                margin: 60px;
                padding: 100px;
                padding: 100px;
                border-style: solid; 
                border-color:lightgrey; 
                display:block" >
         <img src= "https://media0.giphy.com/media/KAd6i7vFhG5qZwP3jF/giphy.gif"> 	 
         <h1 style="text-align: center; font-size: 50; padding: auto; "> (Teacher Name) </h1>
         <h3 style="text-align: center; font-size: 40; padding: auto;"> Insert Text (Optional)</h1>       
	   <h4>
			<img src= "http://clipart-library.com/images/kcKByARxi.jpg" height='50' width ='50'> Thank You for being my teacher 
		</h4>

	</div>
    
</html>