name: Build & Deploy on Merge

on:
  push:
    branches: [ master ]

defaults:
  run:
    working-directory: stylemail

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run build
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_STYLEMAIL_EDF5F }}'
          channelId: live
          projectId: stylemail-edf5f
          entryPoint: "./stylemail" 
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels